
@{
    ViewData["Title"] = "HomePage2";
}
<header  style="background-color:lightgoldenrodyellow">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container" style="background-color:lightgoldenrodyellow">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Към вход</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="HomePage2">Начало</a>
                        </li>
                        <li class="nav-item">
                    </ul>
                </div>
            </div>
        </nav>
 </header>


<body style="background-color:lightgoldenrodyellow;">
    <h1 class="text-center">Добре дошъл</h1>
</body>


@* Създава се референция към страницата за книгите и се поставя снимка на която когато кликнеш ще те отведе там*@
<a href="/Books">

    <img src="~/image/KnigiBiblioteka-removebg-preview__1_-removebg-preview.png" alt="Girl in a jacket" width="500" height="500" />
</a>
@* Създава се референция към страницата за клиентите и се поставя снимка на която когато кликнеш ще те отведе там*@
<a href="/Customers">

    <img src="~/image/usertrans2.png" alt="Girl in a jacket" width="500" height="500" />
</a>

