@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ВХОД</h1>
<form class="custom-form" action="#" method="post">
    <div class="container">
        <label for="uname"><b>Потребител</b></label>
        <input type="text" placeholder="Въведи Потребител" id="name" name="uname" required>             
    </div>
    <div class="container">

        <label for="psw"><b>Парола</b></label>
        <input type="password" placeholder="Въведи Парола" id="password" name="psw" required>
    </div>
    <div class="container">
        <button type="submit" id="submit">Вход</button>
    </div>
</form>
</div>
